{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1rem auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1 style="text-align: center;">All Blog posts:</h1>

<div class="example-wrapper">
    {% for article in pagination %}
    <div class="card" style="margin-top: 3.5rem; width: 50rem;">
        <div class="card-body">
            <p class="card-text"> Title: {{ article.Title }} Author: {{ article.Author }} </p>
            <p class="card-text"> Category: {{ article.category }} </p>
            <p class="card-text"> Description: {{ article.shortDescription }} </p>
            <p class="card-text"> Release Date: {{ article.releaseDate|date("m/d/Y")  }} </p>
            <a href="{{ path("post_index", { 'postid': article.id })}}" class="btn btn-primary float-right">Read more</a>
        </div>
        </div>
    {% endfor %}
</div>

<div style="padding-bottom: 1.5rem" class="d-flex justify-content-center align-items-center textwithfont">
    Pages: {{ knp_pagination_render(pagination) }}
</div>


{% endblock %}

